body {
    height: 100vh;
    width: 100vw;
}
.all {
    width: 70vw;
    height: 100vh;
    margin-right: 0px;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;   
}
.container {

    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;  

}
.item {
    background-color: aquamarine;
    width: 150px;
    height: 150px;
}
